<h1>Registrations</h1>

<table border="1" cellpadding="8">
  <thead>
    <tr>
      <th>Name</th>
      <th>Man Number</th>
      <th>Attending</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.man_number %></td>
        <td><%= r.attending ? "Yes" : "No" %></td>
        <td><%= r.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td>
          <%= link_to "Edit", edit_admin_registration_path(r) %>

          <%= button_to "Delete",
                admin_registration_path(r),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to "Back to Home", root_path %>
</p>